#wrap{
	background-color: #222222;
}

.container{
	background-image: url(/assets/img/fondo2.jpg);
}

.form{
	margin-left: 60px;
}

.button{
	float: right;
}

.radio{
	margin-right: 25px;
}

.button{
	margin-top: 20px;
	margin-bottom: 30px;
}