#wrap{
	background-image: url(/assets/img/fondo.jpg);
}

.container{
	background-image: url(/assets/img/fondo2.jpg);
}

.form{
	margin-left: 60px;
}

.button{
	float: right;
}

.radio{
	margin-right: 15px;
}

.horis{
	margin-bottom: 18px;
}